@import 'https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro';


html {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-family: 'Slabo 27px', serif;
  background-color: pink;
  font-size: 3em;
}
h2 {
  font-family: 'Slabo 27px', serif;
}
h3 {
  font-family: 'Slabo 27px', serif;
  display: inline;
}
h3 ~ a {
  text-decoration: none;
  display:inline;
}

.box-featured {
  background-image: url("/assets/background-header-image.png");
  background-size: 100%
}

.box-featured > p {
  width: 50%;
}

.flex-container {
  flex-direction: row ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul{
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.recipie-item{
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.recipie-item > img{
  width: 255px;
}
