@import 'https://fonts.googleapis.com/css?family=Playfair+Display|Poppins';
html, body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1000px;
  margin: 0 auto;

}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 25px;
}
h2 > span {
  color: rgb(208, 208, 208);
}

h3 {
  color: rgb(227, 205, 177);
  font-weight: normal;
  font-size: 15px;
  margin: 0px;
}

h4 {
  display: inline;
  font-size: 1.1em;

}

h4~a {
  display: inline;
}

section {
  padding: 0px;
}
.box-recipies{
  padding-top: 30px;
}
.box-header {
  display: flex;
  justify-content: space-between;
}

.navbar>ul>li {
  display: inline;
  margin: 10px;
}

.box-featured {
  display: flex;
}

.bg-img {
  background-image: url("../assets/background-header-image@2x.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1000px;
  background-attachment: cover;
  height: 475px;
  background-color: rgb(250, 250, 250);
}

.bg-color {
  background: linear-gradient( rgb(247, 241, 235)0%, rgb(247, 241, 235) 75%, white 75%, white 100%);
}
.footer-bg{
  background-color: black;
}

.text-header>.text {
  width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

ul, li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.recipie-item {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  padding-bottom: 20px;
}

.recipie-item>img {
  width: 100%;
}
.recipie-date {
  font-size: 0.8em;
  margin: 0;
  color: rgb(208, 208, 208);
}

.text-box {
  display: flex;
  align-items: flex-end;

}
.text-item {
  width: 87%;
}
.text-box>.text-item.link  {
  width: 13%;
  color: rgb(227, 205, 177);
  font-size: 0.9em;
}

.play-button {
  display: none;
  }
.recipie-item:hover {
  /*background: linear-gradient( rgb(247, 241, 235)0%, rgb(247, 241, 235) 64%, white 64%, white 100%);*/
}

.recipie-item:hover>img {
  opacity: 0.6;
}

.recipie-item.button {
  box-shadow: none;
}

.recipie-item.line {
  display: inline-flex;
  width: 30%;
  height: 1px;
  margin-top: 30px;
  background: black;
  padding: 0;
}

.box-book {
  display: flex;
  padding-top: 30px;
  margin-top: 20px;
}
.book-item{
  width: 60%;

}
.book-item.n2 {
  width: 40%;
  padding-right: 50px;

}

.book-item>img {
  /*padding-right: 75px;*/
  height: 100%;
  width: 100%;
  /*height: 100%;*/
}

.box-footer {
  display: flex;
  flex-wrap: wrap;
  background: black;
  color: white;
  align-items: center;
  padding-bottom: 20px;

}

.item-footer {
  width: 25%;
  text-align: left;
}

.item-footer.subtext {
  width: 50%;
  text-align: left;
}

.box-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  text-align: center;

  width: 90px;
  border-style: solid;
  border-width: thin;
  padding: 10px 60px 10px;
  color: rgb(227, 205, 177);
}

.button-item {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.button:hover {
  border-color: rgb(227, 205, 177);
  background-color: rgb(227, 205, 177);
  background: linear-gradient( to right, rgb(227, 205, 177)0%, rgb(227, 205, 177) 47%, transparent 47%, transparent 100%);
}

.button:hover>span, .button:hover>li>span {
  color: white;
}

.button.subscribe:hover {
  background: linear-gradient( to right, rgb(227, 205, 177)0%, rgb(227, 205, 177) 62%, transparent 62%, transparent 100%);
}
footer {
  margin-top: 15px;
}

.item-footer>a>.button {
  background-color: black;
  padding: 10px 30px 10px;
  width: 120px;
  margin-left: 20px;
}

form>input, .contact>p {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  background-color: black;
  border-style: none;
}

textarea:focus, input:focus {
  color: white;
}

.contact {
  border-style: solid;
  border-color: black;
  border-bottom-color: white;
  border-bottom-width: thin;
  margin: 10px;
}

.contact>h3, .contact>form>h3 {
  color: white;
}

.item-social>p {
  font-weight: bolder;
}

.item-social>a:link {
  color: rgb(208, 208, 208);
}
/*medium stæð*/
@media only screen and (max-width: 767px) and (min-width: 550px) {
  .medium-50 {
    width: 48%;
  }
  .medium-50.button{
    width: 90px;
    margin: auto;
  }
  .medium-100>a>.button{
    width: 90px;
    margin: auto;
    margin-bottom: 10px;
  }
  .medium-50.line {
    display: none;
  }
  .medium-100 {
    width: 100%;
  }
  .medium-100.subtext {
    width: 100%;
  }
  .box-book, .box-footer {
    flex-wrap: wrap;
    align-content: center;
  }

  .book-item, .item-footer, .item-footer.subtext {
    margin: auto;
    align-items: center;
    text-align: center;
  }
  .contact {
    text-align: left;
  }
  .book-item.n2 {
    padding-left: 25px;
  }
  h1 {
    font-size: 2.7em;
  }
  h2 {
    font-size: 2.0em;
  }
  h3 {
    display: block;
    text-align: center;
  }

}
/*lítil stærð*/
@media only screen and (max-width: 549px) {
  .small-100 {
    width: 100%;
  }
  .small-100.button{
    width: 90px;
    margin: auto;
  }
  .small-100.line {
    display: none;
}
.small-100.button, .small-100>a>.button{
  width: 90px;
  margin: auto;
}
.small-100>a>.button{
  margin-bottom: 10px;
}
.box-book, .box-footer {
  flex-wrap: wrap;
  align-content: center;
}
.book-item, .item-footer, .item-footer.subtext {
  margin: auto;
  align-items: center;
  text-align: center;
}
.contact {
  text-align: left;
}
.book-item.n2 {
  padding-left: 25px;
}
.item-footer>a>.subscribe {
  padding: 10px 30px 10px;
  width: 120px;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  display: block;
  text-align: center;
}
